### Use the requests library to send HTTP requests using Python and response data (content, encoding, status, etc).

In [1]:
# import libraries
import requests
import pandas as pd

In [2]:
#url 
tomatoUrl = 'https://agmarknet.gov.in/SearchCmmMkt.aspx?Tx_Commodity=78&Tx_State=MH&Tx_District=14&Tx_Market=0&DateFrom=20-Oct-2022&DateTo=21-Oct-2022&Fr_Date=20-Oct-2022&To_Date=21-Oct-2022&Tx_Trend=0&Tx_CommodityHead=Tomato&Tx_StateHead=Maharashtra&Tx_DistrictHead=Pune&Tx_MarketHead=--Select--'

In [3]:
response=requests.get(tomatoUrl)

In [4]:
# .status_codes mean check requests successful or not if 200 -299 means requests is success.
response.status_code

200

In [5]:
#check encoding
response.encoding

'utf-8'

In [6]:
# length of response.text
len(response.text)

116388

In [7]:
pageContents = response.text

In [8]:
pageContents[:1000]

'\r\n<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">\r\n<html xmlns="http://www.w3.org/1999/xhtml">\r\n<head><meta http-equiv="Content-Type" content="text/html; charset=utf-8" /><title>\r\n\tAgriculture Marketing\r\n</title><link href="css/style.css" rel="stylesheet" type="text/css" />    \r\n    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>\r\n     \r\n    <link href="css/stylehome.css" rel="stylesheet" type="text/css" /><link href="css/skin.css" rel="stylesheet" type="text/css" /><link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" /> \r\n    <script type="text/javascript" src="../Scripts/jquery.jcarousel.js"></script>\r\n\r\n    <script type="text/javascript">\r\n        $(document).ready(function () {\r\n            $("#ddlArrivalPrice").change(function () {\r\n                if ($("#ddlArrivalPrice").val() == "2")                    \r\n  '

### Use BeautifulSoup parse and extract information

In [9]:
# import BeautifulSoup package
from bs4 import BeautifulSoup

In [10]:
# parser html page
soup = BeautifulSoup(response.text, 'html')

In [11]:
# finding Required Tag
tableSelect = 'tableagmark_new'
tableTag = soup.find('table', {'class': tableSelect})

In [12]:
# length of table header(columns)
len(tableTag.find('th'))

1

In [13]:
# find all the columns and append them in the list header to make dataFrame
header = []
for i in tableTag.find_all('th'):
  title = i.text.strip()
  header.append(title)
df=pd.DataFrame(columns = header)

In [14]:
# print(header)
df

Empty DataFrame
Columns: [Sl no., District Name, Market Name, Commodity, Variety, Grade, Min Price (Rs./Quintal), Max Price (Rs./Quintal), Modal Price (Rs./Quintal), Price Date]
Index: []

In [15]:
# find all table row tags(tr) and inside tr find all table data(td)
# count the length of all columns and stor all data in the length of column dataFrame
for r in tableTag.find_all('tr')[1:]:
  data=r.find_all('td')
  tData = [td.text.strip() for td in data]
  length = len(df)
  df.loc[length]=tData

In [16]:
df

,Sl no.,District Name,Market Name,Commodity,Variety,Grade,Min Price (Rs./Quintal),Max Price (Rs./Quintal),Modal Price (Rs./Quintal),Price Date
0,1,Pune,Junnar(Narayangaon),Tomato,Local,FAQ,1000,3000,2000,21 Oct 2022
1,2,Pune,Junnar(Narayangaon),Tomato,Local,FAQ,1000,3000,2000,20 Oct 2022
2,3,Pune,Khed(Chakan),Tomato,Other,FAQ,2000,4000,3000,21 Oct 2022
3,4,Pune,Khed(Chakan),Tomato,Other,FAQ,2000,3000,2500,20 Oct 2022
4,5,Pune,Maanachar,Tomato,Other,FAQ,3800,4500,4150,21 Oct 2022
5,6,Pune,Pune,Tomato,Local,FAQ,1000,2800,1750,21 Oct 2022
6,7,Pune,Pune,Tomato,Local,FAQ,1200,3000,2100,20 Oct 2022
7,8,Pune,Pune(Khadiki),Tomato,Local,FAQ,1100,2000,1550,21 Oct 2022
8,9,Pune,Pune(Khadiki),Tomato,Local,FAQ,1500,3500,2500,20 Oct 2022
9,10,Pune,Pune(Manjri),Tomato,Other,FAQ,1800,3200,2300,21 Oct 2022
10,11,Pune,Pune(Manjri),Tomato,Other,FAQ,1400,2300,1800,20 Oct 2022
11,12,Pune,Pune(Moshi),Tomato,Local,FAQ,1000,2500,1750,21 Oct 2022
12,13,Pune,Pune(Moshi),Tomato,Local,FAQ,2000,3000,2500,20 Oct 2022
13,14,Pune,Pune(Pimpri),Tomato,Local,FAQ,3000,3000,3000,21 Oct 2022

**I have tried to optimize the code as much as possible, whenever I write the code I try to make the code as much as possible dynamic,
I have tried to pass the parameter dynamically that's why tried to use the post method but it did not work properly, I also tried string formatting, and finally I conclude, if we scrape some pages then it will be better to take the URL directly modified by some click rather then typing and filling two parameters for one value like Tx_Commodity: 17, Tx_CommodityHead: Apple.
and we can also scrap any website table by using only one function of the pandas called pd.read_html.**

In [17]:
tableDf=pd.read_html(tomatoUrl)

ImportError: lxml not found, please install it

In [ ]:
tableDf[0]

In [ ]:
pip install lxml